extends layout

block title
    title About me


block content
    div.container
        h1 About Me
        p This page is all about ME!!! MWAHAHAHAHAHAHAHA!
        ul
            each val in me
                li= val
